html {   background: #d3cabe; }

body { 

  width: 80%;
  margin: 0 auto;
  background: #ffffff;
}

a { 
  text-decoration: none; 
  color: #ffffff;
}

a.current { color: #f5b404; }

a span.white { color: #ffffff; }

a:hover { color: #cccccc; }

h1 { color: #4d2406; }

h2, h3, h4 ,h5 { color: #f5b404; }

ul {  
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
}

nav ul li { display: inline-block; }

element.style {
}

#main-navbar {
  background-color: #4d2406;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 5%;
  border-top: 0.25rem solid #f5b404;
  border-bottom: 0.25rem solid #f5b404;
  position: relative;
}

#main-navbar .nav-img { 
  width: 4rem;
  padding: 0.5rem 0 0.5rem 0.5rem; 
}

#main-navbar #navbar-container ul { 
  margin: 0 auto; 
  padding: 0 0 1rem 0;
  position: absolute;
  bottom: 0;
  left: 30%;
}

#main-content .profile img { 
  float: left; 
  margin: 0.25rem 1rem 1rem 0;
}

#main-content { padding: 0 2rem 1rem; }

#main-content img { height: 75%; }

#main-content a { 
  color: #f5b404; 
  text-decoration: underline;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%; 
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#footer { 
  background: #1e1e1e; 
  color:  #f5b404;
  padding: 0.25rem 0 0.25rem 1rem;
  border-top: 0.25rem solid #f5b404;
}

body#fixed { width: 62rem; }
